#include "Release.xcconfig"
FLUTTER_TARGET=lib/main_development.dart
APP_FLAVOR=development
APP_DISPLAY_NAME=LGBTFinder Dev
PRODUCT_BUNDLE_IDENTIFIER=com.lgbtfinder.dev
ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon-Dev
INFOPLIST_FILE=Runner/Info-Development.plist
INFOPLIST_KEY_NSAllowsLocalNetworking=YES
